.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 53, 22); }
.wall          { background: rgb(80, 114, 113);   }

.floater	   { background: yellow;}
.actor  { position: absolute;  }
.upgrade { background: purple;}
.coin   { background: rgb(241, 229, 89); }
.player { background: blue; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

